<div id="products" class="product-container">
    <ul>  
        {{#each product}}
        <li>{{product.name}}, {{product.quantity}}, {{product.rate}}, {{product.company}}, <a href="{{product.contract}}">View Contract</a></li>
        <li><p>{{product.description}}</p></li>
        {{/each}}
    </ul>
</div>
