<div id="products" class="product-container">
    <ul>  
        {{#each product}}
        <li>{{this.product_name}}, {{this.quantity}}, {{this.min_length}} {{this.min_lengthUnits}}, {{this.rate}}, {{this.Company.name}}, <a href="{{this.contract}}">View Contract</a></li>
        <li><p>{{this.product_description}} - {{this.category}}</p></li>
        {{/each}}
    </ul>
</div>
