    <div id="products" class="product-container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2>Products Portal</h2>
            <div class="col s12 m12">
                <div class="card horizontal">
                  <div class="card-stacked">
                    <div class="card-content">
                     <ul id="productList">  
                        {{#each product}}
                        <div id="productDiv">
                        <li>Name: {{this.product_name}}. Units offered: {{this.quantity}}. Transaction recurrency: Every {{this.min_length}}, {{this.min_lengthUnits}}/s. Product rate: ${{this.rate}}. Company: {{this.Company.name}}. <a href="{{this.contract}}">View Contract</a></li>
                        <p>Description: {{this.product_description}} - {{this.category}}</p>
                        </div>
                        {{/each}}
                     </ul>
                    </div>
                    <div class="card-action">
                      <a href="#">Request info</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>

