<div id="products" class="product-container">
    <ul>  
        {{#each product}}
        <li>{{product.product_name}}, {{product.quantity}}, {{product.min_length}} {{product.min_lengthUnits}}, {{product.rate}}, {{company.name}}, <a href="{{product.contract}}">View Contract</a></li>
        <li><p>{{product.product_description}} - {{product.category}}</p></li>
        {{/each}}
    </ul>
</div>
